PORT=3000
DB_STRING=MONGO_DB_CLUSTER_STRING
JWT_KEY=JWT_SECRET_KEY
REDIS_PASS=REDIS_DB_PASSWORD
JUDGE0_KEY= JUDGE0_API_KEY
GEMINI_KEY = GEMINI_API_KEY
CLOUDINARY_CLOUD_NAME = CLOUDINARY_NAME
CLOUDINARY_API_KEY = CLOUDINARY_API_PUBLIC
CLOUDINARY_API_SECRET = CLOUDINARY_API_SECRET